.workspace {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#clock-calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
}
#clock-area {  
    width : 35vw;
}
#time {
    margin-top: 20vh;
    height : 15vh;
    color : green;
    font-size: 80px ;
    text-align: center;
    padding-top: 5vh;
}
#calendar-area {
    width: 55vw;
}
#previousnext {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
th {
    text-align: center;
}
td {
    text-align: center;
}
ul {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#todo-list li {
    margin: 5px;
    padding-top: 15px;
}
#todo-list li div span {
    margin-top: 5px;
    padding: 10px;
}
@media only screen and (max-width: 480px)
{
    
    #clock-calendar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 120vh
    }
    #clock-area {
        width: 100vw;
        height: 20vh;
    }
    #calendar-area {
        width: 100vw;
        height: 65vh;
    }
    #time {
        margin-top: 5vh;
        font-size: 30px;
    }
    table {
        width: 95vw;
    }
    thead {
        width: 95vw;
    }
    tbody {
        width: 95vw;
    }
}