body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#clock-calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
}
#clock-area {  
    width : 40vw;
    display: flex;
    flex-wrap: wrap; 
}
#time {
    margin-top: 20vh;
    margin-left: 3vw;
    height : 15vh;
    color : green;
    justify-content: space-evenly;
    font-size: 6vw ;
    text-align: center;
    padding-top: 5vh;
}
#calendar-area {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#previousnext {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
th {
    text-align: center;
}
td {
    text-align: center;
}
li {
    list-style: none;
    height: 50px;
}
ul {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
span {
    align-content: flex-end;
    text-align: right;
}
@media (max-width: 480px)
{
    #time {
        margin-top: 10vh;
        padding-top: 2vh;
    }
    #clock-calendar {
        height : 40vh;
    }
}